.container{
    color: azure;
    background-color: black;
    font-size: 14px;
    min-height: 100vh;
}

#table{
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
}
thead{
    font-weight: 900;
    font-size: 18px;
}

thead td{
    width: 160px;
}

td,
th {
    border-bottom: 1px solid gray;
    padding: 5px 2px;
    text-align: center;
    Word-break: break-all;
    min-width: 120px;
    height: 30px;
    text-align: left;
    padding: 8px;
    background-color: rgb(40,40,40);
}

.RED{
    color: red;
}

.WHITE{
    color: aliceblue;
}

hr{
    margin-top: 20px;
    border: 0;
    border-top: 1px solid #282828;
}